
html{
    
    font-family: Roboto Condensed;
    height: auto;
    max-width: 1400px;
    margin: auto;
    background-color: #ffffff;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    color: #21243D;
}


.titleHeader{
    max-width: 100%;
    display: flex;
   
   
    justify-content: center;
    margin-top: 2%;
}



.textTitle{
    margin-top: 20%;
    margin: auto;
   
}

.textGit{
   
    display: flex;
    margin:auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.mainTitle{
    margin:auto;
    justify-content: center;
}

.title{
    margin:0;
    justify-content: flex-start;
    
}

.myImg{
    max-width: 90%;
    
    margin:auto;
    justify-content: center;
}
